


@media (max-width: 393px) {

 main
 
 .container{
    height: 650px;
 }
}

@media (max-width: 912px) {
    .container{
        height: 700px;
        width: 400px;
    }

    .title p{
        font-size: 30px
    }

    .text p{
        font-size: 23px;
    }
}

@media (max-width: 1024px) {
    .container{
        width: 400px;
        height: 570px;
        margin-bottom: 15px;
    }

    .text p{
        font-size: 20px;
    }
}
